<web-app>
    <servlet>
        <servlet-name>SaveAttendanceServlet</servlet-name>
        <servlet-class>SaveAttendanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveAttendanceServlet</servlet-name>
        <url-pattern>/SaveAttendanceServlet</url-pattern>
    </servlet-mapping>
</web-app>
